<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
  </div>
  <hr>
  <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-stripped">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">User name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <app-recipe-item
                *ngFor="let recipeEl of recipes; let i = index"
                [recipe]="recipeEl"></app-recipe-item>
              </tbody>
            </table>
          </div>
  </div>
  